* {
    list-style: none;
    text-decoration: none;
    border: 0;
    margin: 0;

}

body {
    background-color: rgb(23, 22, 22);
}

.navbar {
    background-color: #339ba7;
    border-color: aqua;
}

.navbar a {
    color: #fff;

}


.header {
    width: 100%;
    height: 70%;
}

.section-1 {

    color: white;
}

.section-2 {

    color: white;
}

.section-2 .card-body {
    background-color: #339ba7;
}


.section-3 {
    color: white;
}

.section-3 button {
    background-color: #339ba7;
    margin-bottom: 30px;
    color: white;
}

.fa-5x {
    color: aliceblue;
    margin-left: 15px;
    width: 25px;
    margin-top: 15px;
}

footer {
    background-color: #339ba7;
    color: white;
    font-size: 20px;
}

footer p {
    align-content: center;
    vertical-align: text-top;
    margin-top: 47px;

}